<div><%= markdown @tournament.description %></div>

<hr />

<h3><%= gettext "Tours" %></h3>

<div class="card-columns">
  <%= render_many(@tours, IkvnWeb.Player.TourView, "_tour.html", assigns) %>
</div>

<hr />
<span><%= link gettext("Back"), to: Routes.tournament_path(@conn, :show, @tournament) %></span>
