<div class="d-flex">
  <%= link to: Routes.admin_tournament_tour_task_path(@conn, :new, @tournament, @tour), class: "btn btn-outline-primary flex-fill" do %>
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <span><%= gettext "New Task" %></span>
  <% end %>
</div>
