<h2><%= gettext "New Task" %></h2>

<%= render "_form.html", Map.put(assigns, :action, Routes.admin_tournament_tour_task_path(@conn, :create, @tournament, @tour)) %>

<hr />
<span><%= link gettext("Back"), to: Routes.admin_tournament_tour_path(@conn, :show, @tournament, @tour) %></span>
