<div class="card">
  <div class="card-body">
    <%= markdown @solution.content %>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <div class="btn-group" role="group">
      <%= render IkvnWeb.Judge.MarkView, "_form.html", assigns %>
    </div>

    <%= unless Game.tour_is_judging?(@tour) do %>
      <i><%= @solution.participation.user.nickname %></i>
    <% end %>
  </div>
</div>
<br />
