<h2>
  <%= title(@tour) %>
  <%= render "_actions.html", assigns %>
</h2>

<div>
  <%= markdown @tour.description %>
</div>

<hr />

<h4><%= gettext "Tasks" %></h4>
<div>
  <%= render_many(@tasks, IkvnWeb.Admin.TaskView, "_task.html", assigns) %>
  <%= render IkvnWeb.Admin.TaskView, "_new_button.html", assigns %>
</div>

<hr />
<span><%= link gettext("Back"), to: Routes.admin_tournament_tour_path(@conn, :index, @tournament) %></span>
