<tr>
  <td>
    <%= if Game.tour_is_available?(@tour, :judge) do %>
      <%= link to: Routes.judge_tournament_tour_path(@conn, :show, @tournament, @tour) do %>
        <%= title @tour %>
      <% end %>
    <% else %>
      <%= title @tour %>
    <% end %>
  </td>
  <td><%= status @tour %></td>
  <td><%= datetime @tour.started_at %></td>
  <td><%= datetime @tour.finished_at %></td>
  <td><%= datetime @tour.results_at %></td>
</tr>
