<div class="list-group-item">
  <%= link to: Routes.player_tournament_tour_task_solution_path(@conn, :new, @tournament, @tour, @task) do %>
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <span><%= gettext "Submit Solution" %></span>
  <% end %>
</div>
