<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= gettext "Nickname" %></th>
      <th scope="col"><%= gettext "Submissions" %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render_many_with_index(@players, IkvnWeb.Admin.PlayerView, "_player.html", assigns) %>
  </tbody>
</table>
