/* This file is for your main application css. */

@import "~easymde/dist/easymde.min";
@import "~bootstrap/scss/bootstrap";

.alert {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

form .alert {
  margin-bottom: 1rem;
}

main {
  margin-top: 1rem;
}

.navbar-nav .navbar-gravatar {
  margin-right: 0.5rem;
}

.form-group.row {
  margin-bottom: 0;
}

h1 .btn-group, h2 .btn-group, h3 .btn-group, h4 .btn-group, h5 .btn-group {
  margin-left: 1rem;
}

.card img {
  max-height: 250px;
  max-width: 50%;
}
