/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";

.alert {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

main {
  margin-top: 1rem;
}

.navbar-nav .navbar-gravatar {
  margin-right: 0.5rem;
}
