<div class="card">
  <div class="card-header">
    <h5 class="mb-0">
      <%= title @task %>
    </h5>
  </div>
  <div class="card-body">
    <%= markdown @task.description %>
  </div>
</div>
<br />
