<div class="card card-inverse card-primary">
  <%= link(to: Routes.admin_tournament_path(@conn, :new), class: "p-3 text-center flex-fill btn btn-outline-primary d-block") do %>
    <i class="fas fa-plus-circle" aria-hidden="true"></i>
    <span><%= gettext "New Tournament" %></span>
  <% end %>
</div>
