<div class="card mb-3 <%= tournament_style(@tournament) %>">
  <div class="card-header">
    <h4 class="card-title m-0"><%= @tournament.name %></h4>
  </div>

  <div class="card-body">
    <%= if present?(@tournament.headline) do %>
      <div class="card-text"><%= markdown @tournament.headline %></div>
    <% end %>
  </div>

  <%= render "_actions.html", assigns %>
</div>
