<h2>
  <%= @tournament.name %>

  <%= render "_actions.html", assigns %>
</h2>

<div><%= markdown @tournament.description %></div>

<hr />
<span><%= link gettext("Back"), to: Routes.tournament_path(@conn, :index) %></span>
