<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <%= nav_item @conn, gettext("Tours"), Routes.player_tournament_tour_path(@conn, :index, @tournament), exact: true %>
  </li>

  <li class="nav-item">
    <%= nav_item @conn, gettext("Results"), Routes.player_tournament_result_path(@conn, :show, @tournament) %>
  </li>
</ul>
