<%= base_layout assigns do %>
  <h2><%= gettext "Tournament \"%{tournament}\" Admin", tournament: @tournament.name %></h2>

  <%= render "_admin_navigation.html", assigns %>

  <%= @inner_content %>
<% end %>
