<div><%= markdown @tournament.description %></div>

<hr />

<h4><%= gettext "Tours" %></h4>

<div class="card-columns">
  <%= render_many(@tours, IkvnWeb.Judge.TourView, "_tour.html", assigns) %>
</div>

<hr />

<span><%= link gettext("Back"), to: Routes.tournament_path(@conn, :index) %></span>
